@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Kantumruy+Pro:wght@300&family=Lobster&family=Lobster+Two&family=Sunflower&display=swap");

/* 


*/

body {
  background-color: #284546;
}

.App {
  /* background-color: #; */
}

.nav {
  height: 70px;
  width: 100%;
  border-radius: 50px;
  border: #9bb5a9 solid 1px;
  color: #fff;
  padding: 0 20px 0 20px;
}

.world {
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
}

.nav-row-item {
  width: fit-content;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}

.content {
  height: 800px;
  width: 100%;
}

.model {
  mix-blend-mode: multiply;
}

.oval {
  border-radius: 500px;
  height: 700px;
  width: 450px;
  margin-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.o-1 {
  /* background-image: url(); */
  background:linear-gradient(0deg, #0a1a19, #0a1a19ab), url("https://images.pexels.com/photos/3004909/pexels-photo-3004909.jpeg?cs=srgb&dl=pexels-suzy-hazelwood-3004909.jpg&fm=jpg");
  background-size:cover;
  margin-right: -5%;
  z-index: 2;
}

.o-2 {
  background-image: url("https://images.pexels.com/photos/4046757/pexels-photo-4046757.jpeg?auto=compress&cs=tinysrgb&w=600");
  z-index: 1;
}

.o-3 {
  margin-left: -5%;
  padding-top: 150px;
  z-index: 2;
  overflow: hidden;
  border-bottom: #9bb5a9 solid 1px;
}

.gallery-text {
  color: #fff;
  font-size: 80px;
  font-family: 'Lobster', cursive;
}

.discover-btn {
  color: #0a1a19;
  font-weight: bold;
  background-color: #F2A341;
  border-radius: 30px;
  padding: 20px;
  width: fit-content;
}

.bottom {
  /* background-color: green; */
  height: 200px;
  width: 100%;
  color: #fff;
}
.lb-text {
  font-size: 40px;
  margin-left: 40px;
  font-family: "Sunflower", sans-serif;
}

.mb-text {
  font-size: 18px;
  font-family: "Kantumruy Pro", sans-serif;
  text-align: justify;
}

.circle-wrapper {
  margin-left: 40px;
}

.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-1 {
  background-image: url("./assets/m-1.jpg");
}

.c-2 {
  background-image: url("./assets/m-2.jpg");
}

.c-3 {
  background-image: url("./assets/m-3.jpg");
}

.arrow {
  height:50px;
  width: 70px;
}
